/* App.css - For Login Page Styling */
.login-container {
    display: flex;
    height: 100vh;
    background-color: #f4f7fa;
  }
  
  .login-left {
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-image {
    
  
    background-image:cover ;
    margin-bottom: 60px;
    padding-top: 5%;
    width: 900px;
    height:100%;
    object-fit: cover;
  }
  
  .login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  
  .auth-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .auth-card h2 {
    text-align: center;
    color: #2C3E50;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #2C3E50;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input:focus {
    border-color: #2980b9;
    outline: none;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-primary:hover {
    background-color: #3498db;
  }
  
  .bottom-text {
    text-align: center;
    margin-top: 15px;
  }
  
  .bottom-text a {
    color: #2980b9;
    text-decoration: none;
  }
  
  .bottom-text a:hover {
    text-decoration: underline;
  }
  